@inherits LayoutComponentBase
@using StockSense.Client.Layout

<AuthorizeView Roles="Admin">
    <Authorized>
        @* ---- ADMINS: Full width Body within MainLayout (Sidebar already exists in MainLayout) ---- *@
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="container pt-4">
                <h2>Manage your account</h2>
                <hr />
                <div class="row">
                    <div class="col-12">
                        @Body
                    </div>
                </div>
            </div>
        </LayoutView>
    </Authorized>
    <NotAuthorized>
        @* ---- REGULAR USERS: Dashboard style within EmptyLayout ---- *@
        <LayoutView Layout="@typeof(EmptyLayout)">
            <div class="container pt-4">
                <h2>My Profile</h2>
                <hr />
                <div class="row">
                    @* --- SIDEBAR MENU FOR USERS --- *@
                    <div class="col-md-3">
                        <ManageNavMenu />
                    </div>

                    @* --- CONTENT AREA --- *@
                    <div class="col-md-9">
                        @Body
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotAuthorized>
</AuthorizeView>